# database PostgreSQL version
services:
  store-istad-api:
    image: "store-istad:latest"
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    container_name: store-istad-api
    volumes:
      - "C:/data-storage/files-storage:/workspace/storage"
    ports:
      - "15000:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://store-istad-db:5432/store_istad
      - SPRING_DATASOURCE_USERNAME=sb7
      - SPRING_DATASOURCE_PASSWORD=sb7@123
      - FILE_SERVER_PATH=/workspace/storage/
      - FILE_BASE_URI=http://localhost:15000/file/
      - FILE_DOWNLOAD_URI=http://localhost:15000/api/v1/files/download/
    networks:
      - store-istad-network
    #    restart: always
    depends_on:
      store-istad-db:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1" ]
      interval: 30s
      retries: 3
      start_period: 30s
      timeout: 10s


  store-istad-db:
    image: postgres:17
    restart: unless-stopped
    container_name: store-istad-db
    ports:
      - "6666:5432"
    environment:
      - POSTGRES_USER=sb7
      - POSTGRES_PASSWORD=sb7@123
      - POSTGRES_DB=store_istad
    volumes:
      - store-istad-volume:/var/lib/postgresql/data
    networks:
      - store-istad-network

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      interval: 30s
      retries: 3
      start_period: 90s # Increased start period to give more time for Postgres to initialize
      timeout: 10s


volumes:
  store-istad-volume:
  files-storage:


networks:
  store-istad-network:
    driver: bridge
